<ion-list color="dark">
    <ion-item-sliding *ngFor="let lista of deseosService.listas | filtroCompletado:terminada ">

        <ion-item detail color="dark" (click)="listaSeleccionada( lista )">

            <ion-label>{{ lista.titulo }}</ion-label>

            <ion-note color="primary" slot="end">{{ lista.items.length }} items </ion-note>

        </ion-item>

        <ion-item-options side="end">
            <ion-item-option color="danger" (click)="borrarLista( lista )">
                <ion-icon name="close" icon="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>

        <ion-item-options side="start">
            <ion-item-option color="warning" (click)="editarLista( lista )">
                <ion-icon name="create-outline" icon="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>

    </ion-item-sliding>
</ion-list>